{{!-- ?nif=14109F&prueba=lalalalala --}}

<form action="/servicesByNIFQS" method="GET">
    <label>
        Please provide a valid NIF

        <input type="text" name="nif" placeholder="Please provide a valid NIF">
    </label>

    <button>Search</button>
</form>