<form action="/updateUser" method="POST">
    <input type="hidden" name="id" value="{{employee._id}}">
    <input type="text" name="name" value="{{employee.name}}">

    <button>Update user</button>
</form>